/* css/content.css */
/* #content */
#content{width:1000px;margin:0 auto;text-align:center;}
/* #content.section1*/
#content .section1{overflow:hidden;margin-bottom:10px;}
#content .section1 > div{float:left;height:400px;line-height:400px;
                         border:1px solid gray;}
#content .section1 .slide_banner{width:70%;}
#content .section1 .side_banner{width:30%;}
/* #content.section2(.hit_product, .md_product) */
    /* #content.section2 .hit_product*/
#content .section2 .hit_product{border:1px solid gray;margin:0 0 10px 0;}
#content .section2 .hit_product ul{overflow:hidden;}
#content .section2 .hit_product ul li{float:left;margin-right:0.8%;width:24%;
                                      line-height:400px;border:1px solid gray;}
#content .section2 .hit_product ul li:first-child{margin-left:0.8%}
    /* #content.section2 .md_product*/
#content .section2 .md_product{border:1px solid gray;margin:0 0 10px 0;}
#content .section2 .md_product ul{overflow:hidden;}
#content .section2 .md_product ul li{float:left;margin-right:0.8%;width:24%;
                                      line-height:400px;border:1px solid gray;}
#content .section2 .md_product ul li:first-child{margin-left:0.8%}
/* hit와 md가 정확하게 동일하여 속성을 같이 설정하면 코드를 간소화 가능
#content .section2 {border: 1px solid gray;}
#content .section2 ul{overflow:hidden;}
#content .section2 ul li{float:left;margin-right:0.8%;width:24%;
                                      line-height:400px;border:1px solid gray;}
#content .section2 ul li:first-child{margin-left:0.8%}*/