/* css/footer.css */
/* footer영역 설정 */
footer{width:1000px;margin:0 auto;overflow:hidden;}

/* footer.office_logo */
footer .office_logo, footer .office_address, footer .shopping_info
{float:left;width:33.3333333333333333%;height:100px;border:1px solid gray;margin:0 0 5px 0;}

/* footer.copyright*/
 footer .copyright{clear:both;height:30px; background-color:black;line-height:30px;
                   color:white;text-align:center}
