/* css/header.css : 페이지 초기화, header 부분*/
/* font 설정 */
@font-face{font-family:'Merriweather-Light';
           src:url('../font/Merriweather-Light.ttf');}
@font-face{font-family:'Merriweather-Regular';
           src:url('../font/Merriweather-Regular.ttf');}
/* 페이지 초기화 */
*{margin:0;padding:0;box-sizing:border-box;}
a{text-decoration:none;color:black;
  display:block;/* a태그를 block타입으로 하여 영역 확장 */}
li{list-style:none;}
/* header 설정 */
header{text-align:center;font-family:Merriweather-Regular;}
/* header.gnb 설정 */
header .gnb{height:30px;background-color:black;min-width:1000px;}
header .gnb ul{overflow:hidden;width:1000px;margin:0 auto;}
header .gnb ul li{width:8%;margin:0 1%;float:left;line-height:30px;}
header .gnb ul li a{color:white;}
/* header.logo 설정 */
header .logo{width:1000px;margin:0 auto;}
header .logo a{margin:50px auto; width:200px;text-align:center;font-size:2em;
             font-family: "Pacifico", cursive;font-weight: 400;
               border:1px solid black;height:90px;line-height:90px;}
/* header.hitmenu 설정 */
header .hitmenu{width:1000px;margin:0 auto;}
header .hitmenu ul{overflow:hidden;margin:10px;}
header .hitmenu ul li{float:right;width:10%;height:48px;
                      border:1px solid black;line-height:48px}
header .hitmenu ul li:nth-child(1){border-radius:0 20px 20px 0}
header .hitmenu ul li:nth-child(4){border-radius:20px 0 0 20px}
/* header.lnb 설정 */
header .lnb{border-block:1px dashed black;min-width:1000px;}
header .lnb  ul{width:1000px;margin:0 auto;overflow:hidden;}
header .lnb ul li{float:left;width:10.5%;margin: 0 1%}
header .lnb ul li a{height:30px; line-height:30px}